<div class="inHeader">

  <a href="/"><img class="logo" src="/img/logotipo.png" alt=""></a>

  <div class="infoDesk">
    <div class="search">
      <input type="text" placeholder="Pesquisar">
      <button><span class="material-symbols-outlined">search</span></button>
    </div>

    <ul>
      <li><a href="/">Loja</a></li>
      <li><a href="/login">Entrar</a></li>
      <li><a href="/register">Cadastrar</a></li>
      <li class="carticon"><a href="/cart">Carrinho <span class="cartqt"></span></a></li>
      <li><a href="/gcloud">GCloud</a></li>
      <li><a href="/support">Suporte</a></li>
    </ul>
  </div>

  <button class="btn-m btn2 btn-toggle-subInfo"><span class="material-symbols-outlined">menu</span></button>

  <div class="info">
    <a href="/"><span class="material-symbols-outlined">home</span>Loja</a>
    <a href="/login"><span class="material-symbols-outlined">login</span>Entrar</a>
    <a href="/register"><span class="material-symbols-outlined">app_registration</span>Cadastrar</a>
    <a class="carticon" href="/cart"><span class="material-symbols-outlined">
        shopping_cart
      </span>Carrinho <span class="cartqt"></span></a>
    <a href="/gcloud"><span class="material-symbols-outlined">stadia_controller</span>GCloud</a>
    <a href="/support"><span class="material-symbols-outlined">info</span>Suporte</a>

    <div>
      <input type="text" placeholder="Faça uma busca">
      <button><span class="material-symbols-outlined">search</span>Pesquisar</button>
    </div>
  </div>
</div>