<div class="sidebar">
  <nav>
    <h2 class="title-t">Plataformas</h2>
    <ul class="accordion-menu">
      <li class="link">
        <div class="dropdown">
          Jogos PlayStation
          <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
        </div>
        <ul class="submenuItems">
          <a href="#">Jogos PS5</a>
          <a href="#">Jogos PS4</a>
          <a href="#">PS VR</a>
        </ul>
      </li>
      <li class="link">
        <div class="dropdown">
          Jogos Xbox
          <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
        </div>
        <ul class="submenuItems">
          <a href="#">Xbox Series X|S</a>
          <a href="#">Xbox One</a>
          <a href="#">PC com Xbox</a>
        </ul>
      </li>
      <li class="link">
        <div class="dropdown">
          Jogos Nintendo
          <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
        </div>
        <ul class="submenuItems">
          <a href="#">Nintendo Switch</a>
          <a href="#">Nintendo Wii</a>
        </ul>
      </li>
      <li class="link">
        <div class="dropdown">
          Jogos PC
          <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Steam</a></li>
          <li><a href="#">Good Old Games (GOG)</a></li>
          <li><a href="#">Origin</a></li>
          <li><a href="#">Battle.net</a></li>
          <li><a href="#">Epic Games Store</a></li>
          <li><a href="#">Microsoft Games</a></li>
          <li><a href="#">Game Jolt</a></li>
          <li><a href="#">itch.io</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="filter">
    <h2>Refinar</h2>

    <div class="categories fdiv">
      <ul class="accordion-menu">
        <li class="link">
          <div class="dropdown">
            <h3>
              Categoria
              <div>Procurar por categorias</div>
            </h3>
            <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
          </div>
          <ul class="submenuItems">
            <li>Ação e Aventura</li>
            <li>Corrida e Aviação</li>
            <li>Jogos de Tiro</li>
            <li>RPG</li>
            <li>Indie</li>
            <li>Esporte</li>
            <li>Luta</li>
            <li>Simulador</li>
            <li>Estratégia e Casual</li>
          </ul>
        </li>
      </ul>
    </div>


    <div class="date fdiv">
      <ul class="accordion-menu">
        <li class="link">
          <div class="dropdown">
            <h3>
              Lançamentos
              <div>2018 - 2022</div>
            </h3>
            <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
          </div>
          <ul class="submenuItems">
            <li>2018 - 2022</li>
            <li>2012 - 2017</li>
            <li>2006 - 2011</li>
            <li>2000 - 2005</li>
          </ul>
        </li>
      </ul>
    </div>


    <div class="age fdiv">
      <ul class="accordion-menu">
        <li class="link">
          <div class="dropdown">
            <h3>
              Faixa Etária
              <div>Todas as Idades</div>
            </h3>
            <span class="material-symbols-outlined expand" aria-hidden="true">expand_more</span>
          </div>
          <ul class="submenuItems">
            <li>Todas as Idades</li>
            <li>10 anos</li>
            <li>12 anos</li>
            <li>14 anos</li>
            <li>16 anos</li>
            <li>+18 anos</li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>