<div class="inHeader">

  <a href="/"><img class="logo" src="/img/logotipo.png" alt=""></a>

  <div class="infoDesk">
    <div class="search">
      <input type="text" placeholder="Pesquisar">
      <button><span class="material-symbols-outlined">search</span></button>
    </div>

    <ul>
      <li><a href="/">Loja</a></li>
      <li><a href="/profile">Minha conta</a></li>
      <li><a href="/profile/marketplaces">Marketplace</a></li>
      <li class="carticon"><a href="/cart">Carrinho <span class="cartqt"></span></a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
  </div>

  <button class="btn-m btn2 btn-toggle-subInfo"><span class="material-symbols-outlined">menu</span></button>

  <div class="info">
    <a href="/"><span class="material-symbols-outlined">home</span>Loja</a>
    <a href="/profile"><span class="material-symbols-outlined">login</span>Minha conta</a>
    <a href="/profile/marketplaces"><span class="material-symbols-outlined">app_registration</span>Market</a>
    <a href="/cart"><span class="material-symbols-outlined">stadia_controller</span>Meu carrinho</a>
    <a href="/logout"><span class="material-symbols-outlined">stadia_controller</span>Sair</a>

    <div>
      <input type="text" placeholder="Faça uma busca">
      <button><span class="material-symbols-outlined">search</span>Pesquisar</button>
    </div>
  </div>
</div>