/** MOBILE FIRST **/

.block {
  width: 95%;
  height: auto;
  margin: 50px auto;
  padding: 16px;
  color: var(--c-1);
  background-color: var(--bg-1);
}

.block h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
  color: var(--c-1);
}

.block ul{
  list-style: none;
}

.block ul li h2{
  font-size: 16px;
  margin-bottom: 16px;
}

.block ul li {
  width: 100%;
  height: auto;
  margin-top: 16px;
  border-radius: 5px;
  background: rgb(18, 18, 20);
  font-size: 14px;
  color: var(--c-1);
  padding: 16px;
  overflow: hidden;
}

.block ul li .buttonsdiv {
  display: flex;
  justify-content: space-between;
}

.block ul li .buttonsdiv a {
  width: 49%;
  height: 30px;
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: #fff;
}

.block ul li .buttonsdiv a.edt {
  border: 1px solid rgba(30, 255, 0, 0.5);
}

.block ul li .buttonsdiv a.del {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .block {
    width: 85%;
  }

  .block ul li {
    display: flex;
    justify-content: space-between;
  }

  .block ul li .buttonsdiv a {
    width: 100px;
    height: 30px;
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    margin-left: 16px;
  }
}

@media (min-width: 992px) {
  .block {
    width: 65%;
    height: auto;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid var(--bg-0);
    background-color: var(--bg-1);
  }
}
