<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="chrome://branding/content/icon32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/swiper.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/generalforms.css">
  <link rel="stylesheet" href="/css/subnav.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <title>GameStore</title>
  <style>
    label {
      color: #888;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="dtc">
      <%- include("../partials/inHeader.ejs"); -%>
    </header>

    <div id="formulario">
      <div class="formBlock">
        <h1>Anuncie em nosso Marketplace</h1>
        <form method="POST">
          <div>
            <label>Nome</label>
            <input type="text" name="name" id="user_name" /><br />
          </div>
          <div>
            <label>CNPJ</label>
            <input type="text" name="cnpj" id="user_cnpj" /><br />
          </div>
          <button class="btnsub">Enviar solicitação</button>
        </form>
      </div>
    </div>

    <div class="modal"></div>

  <script src="/js/app.js"></script>
  <script src="/js/responsive-menu.js"></script>
  <script src="/js/resize.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiperpersonal.js"></script>
  <script src="/js/initcart.js"></script>
</body>

</html>