<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="chrome://branding/content/icon32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/root.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/generalforms.css">
  <title>GameStore</title>
</head>

<body>
  <div class="container">
    <header class="dtc">
      <%- include("../partials/inHeader.ejs"); -%>
    </header>

    <div class="registerForm">
      <div class="formBlock">
        <form method="POST">
          <h1>Registre-se na Gamestore</h1>
          <div><label>Nome</label>
            <input type="text" name="name" id="user_name" />
          </div>
          <div><label>Email</label>
            <input type="text" name="email" id="user_email" />
          </div>
          <div>
            <label>Senha</label>
            <input type="password" name="password" id="user_password" />
          </div>
          <div>
            <label>CPF</label>
            <input type="text" name="cpf" id="user_cpf" />
          </div>
          <button class="btnsub">Registrar</button>
        </form>
      </div>
    </div>

  </div>

  <footer class="dtc">
    <%- include("../partials/inFooter.ejs"); -%>
  </footer>

  <div class="modal"></div>

  <script src="/js/app.js"></script>
  <script src="/js/responsive-menu.js"></script>
  <script src="/js/resize.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiperpersonal.js"></script>
  <script src="/js/initcart.js"></script>
</body>

</html>